/* ------PAGINA INTEIRA-------- */

body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
                
.h1-white{
    color: aliceblue;
}

/* MENU-SUPERIOR */

.menu-container{
    border: 5px solid red;
    background-color: black;
    padding: 1rem;
}
.menu-container i{
    position: relative;
    left: calc(1vw - 12.5rem);
}
.menu-container input{
    position: relative;
    right: calc(1vw - 76.5rem);
}
/* INFO-BLOG */
.info-blog{
    background-image:linear-gradient(180deg, transparent 0%, #fff 180%) ,url(/imagens/imagem-inferior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid blue;
    height: 100vh;

}


/* SECAO-COMENTARIOS */
.comentarios{
    border:5px solid red;
    margin-top: 100px;
    text-align: center;
    color: black;
}