/* ------PAGINA INTEIRA-------- */

*{
    background-color: rgb(10, 10, 11);
    margin: 0px;
    font-weight: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ASSIGNS-CLASSES */


.border-glow{
    border: 1px rgb(48, 47, 57);
    border-radius: 1px;
    outline: none;
    box-shadow: 0px 0px 5px rgb(71, 71, 78);
}

h1{
    color: aliceblue;
}
/* #JAVASCRIPT */

/* #KEYFRAMES */

/* #MENU-SUPERIOR */

#menu-superior{
    margin-bottom: 15px;
    padding:30px;
    background-color: rgb(63, 63, 67);
    text-align: center;
}

.search{
    position: absolute;
    right: 4%;
    top: 1.5%;
    padding: 10px;
    border-radius: 1px;
    border: 1px rgb(63, 63, 67);
    background-color: aliceblue;    
    width: 175px;
    font-size: 20px;
}

.search:focus{
    outline: none;
    border-color: aliceblue;
    box-shadow: 0px 0px 4px aliceblue;
}

#menu-icon{
    position: absolute;
    top: 4%;
    left: 1.5%;
}
.menu-bar{
    cursor: pointer;
}

/* #IMAGEM-INFERIOR */
.imagem-inferior{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem{
    width: 500px;
    margin-top: 15px;
    border: 2px solid rgb(48, 47, 57);
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgb(63, 63, 67);
 }

/* #INFO-BLOG */
#info-blog{
    text-align: center;
}
#titulo-info{
  

}
/* #IMAGEM ESQUERDA */

#imagem-esquerda{
    text-align: left;
}

/* #IMAGEM DIREITA */

#imagem-direita{
    text-align: right;
}

/* #SOBRE DA IMAGEM ESQUERDA */
#info-esquerda{
    text-align: left;
}

/* #SOBRE DA IMAGEM DIREITA */

#info-direita{
    text-align: right;
}